APP_JWT_TOKEN=JWT_SECRET
APP_DB_URL=jdbc:postgresql://host.docker.internal:5432/local
APP_DB_USERNAME=localPS
APP_DB_PASSWORD=localDB
APP_BOT_TG_TOKEN_NOTIFICATION=TOKEN
APP_BOT_TG_TOKEN_CUSTOMER=TOKEN
APP_BOT_VK_TOKEN_NOTIFICATION=TOKEN
APP_BOT_VK_GROUPID_NOTIFICATION=ID
APP_BOT_VK_WAITTIME_NOTIFICATION=30